<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sjl.exercise">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".module.broadcast.send.BroadcastSendOrderActivity"></activity>
        <activity
            android:name=".module.activity.screen.ScreenSizeActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".module.activity.screen.ScreenConfigActivity" />
        <activity
            android:name=".module.activity.screen.ScreenOrientationActivity"
            android:configChanges="orientation" />

        <service
            android:name=".module.activity.correspondence.ActivityCorrespondenceService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".module.activity.correspondence.ActivityCorrespondenceActivity" />
        <activity android:name=".module.activity.launchmode.SingleInstance4Activity" />
        <activity
            android:name=".module.activity.launchmode.SingleInstance3Activity"
            android:launchMode="singleInstance" />
        <activity android:name=".module.activity.launchmode.SingleInstance2Activity" />
        <activity android:name=".module.activity.launchmode.SingleInstanceActivity" />
        <activity android:name=".module.activity.launchmode.LaunchModeMainActivity" />
        <activity android:name=".module.activity.ActivityMainActivity" />
        <activity android:name=".module.ModuleMainActivity" />
        <activity android:name=".function.picture.FunctionPictureActivity" />
        <activity android:name=".function.FunctionMainActivity" />
        <activity android:name=".basic.CustomWidgetActivity" />
        <activity android:name=".basic.widget.ConstrainLayout.ConstraintLayoutCircleActivity" />
        <activity android:name=".basic.widget.ConstrainLayout.ConstrainLayoutChainActivity" />
        <activity android:name=".basic.widget.ConstrainLayout.ConstrainLayoutBiasActivity" />
        <activity android:name=".basic.widget.ConstrainLayout.ConstrainLayoutFillActivity" />
        <activity android:name=".basic.widget.ConstrainLayout.ConstrainLayoutGuideLineActivity" />
        <activity android:name=".basic.widget.ConstrainLayout.ConstrainLayoutRatioActivity" />
        <activity android:name=".basic.widget.ConstrainLayout.ConstraintLayoutLocationActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".basic.BasicMainActivity" />
        <activity android:name=".basic.WidgetMainActivity" />
        <activity android:name=".basic.widget.ConstraintLayoutMainActivity" /> <!-- 7.0文件 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- 元数据 -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <activity android:name=".module.broadcast.BroadcastMainActivity" />
        <activity android:name=".module.broadcast.send.BroadcastSendMainActivity" />
    </application>

</manifest>