<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sjl.exercise">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <permission
        android:name="com.sjl.provider.read"
        android:protectionLevel="normal" />
    <permission
        android:name="com.sjl.provider.write"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".process.messenger.MessengerService"
            android:enabled="true"
            android:exported="true"
            android:process=":messenger">
            <intent-filter>
                <action android:name="com.sjl.messenger"/>
            </intent-filter>
        </service>

        <activity android:name=".process.messenger.MessengerActivity" />
        <activity android:name=".process.ProcessMainActivity" />

        <provider
            android:name=".module.ContentProvider.UserContentProvider"
            android:authorities="com.sjl.provider"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.sjl.provider.read"
            android:writePermission="com.sjl.provider.write" />

        <activity android:name=".basic.widget.RecyclerView.RecyclerViewActivity" />
        <activity android:name=".thread.HandlerThread.HandlerThreadActivity" />
        <activity android:name=".thread.AsyncTask.AsyncTaskActivity" />
        <activity android:name=".thread.handler.HandlerActivity" />
        <activity android:name=".thread.ThreadMainActivity" />
        <activity android:name=".basic.custom.NewsView.NewsViewActivity" />
        <activity android:name=".basic.widget.ViewFlipper.ViewFlipperActivity" />

        <service
            android:name=".module.service.IntentService.CustomIntentService"
            android:exported="false" />

        <activity android:name=".module.service.IntentService.IntentServiceActivity" />

        <service
            android:name=".module.service.remote.RemoteService"
            android:enabled="true"
            android:exported="true"
            android:process=":aidl">
            <intent-filter>
                <action android:name="com.sjl.aidl.remote" />
            </intent-filter>
        </service>

        <activity android:name=".module.service.remote.RemoteServiceActivity" />

        <service
            android:name=".module.service.foreground.ForegroundService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".module.service.foreground.ForegroundServiceActivity"
            android:launchMode="singleTop" />
        <activity android:name=".module.service.ServiceMainActivity" />
        <activity android:name=".module.broadcast.send.BroadcastSendOrderActivity" />
        <activity
            android:name=".module.activity.screen.ScreenSizeActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".module.activity.screen.ScreenConfigActivity" />
        <activity
            android:name=".module.activity.screen.ScreenOrientationActivity"
            android:configChanges="orientation" />

        <service
            android:name=".module.activity.correspondence.ActivityCorrespondenceService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".module.activity.correspondence.ActivityCorrespondenceActivity" />
        <activity android:name=".module.activity.launchmode.SingleInstance4Activity" />
        <activity
            android:name=".module.activity.launchmode.SingleInstance3Activity"
            android:launchMode="singleInstance" />
        <activity android:name=".module.activity.launchmode.SingleInstance2Activity" />
        <activity android:name=".module.activity.launchmode.SingleInstanceActivity" />
        <activity android:name=".module.activity.launchmode.LaunchModeMainActivity" />
        <activity android:name=".module.activity.ActivityMainActivity" />
        <activity android:name=".module.ModuleMainActivity" />
        <activity android:name=".function.picture.FunctionPictureActivity" />
        <activity android:name=".function.FunctionMainActivity" />
        <activity android:name=".basic.custom.CustomWidgetActivity" />
        <activity android:name=".basic.widget.ConstrainLayout.ConstraintLayoutCircleActivity" />
        <activity android:name=".basic.widget.ConstrainLayout.ConstrainLayoutChainActivity" />
        <activity android:name=".basic.widget.ConstrainLayout.ConstrainLayoutBiasActivity" />
        <activity android:name=".basic.widget.ConstrainLayout.ConstrainLayoutFillActivity" />
        <activity android:name=".basic.widget.ConstrainLayout.ConstrainLayoutGuideLineActivity" />
        <activity android:name=".basic.widget.ConstrainLayout.ConstrainLayoutRatioActivity" />
        <activity android:name=".basic.widget.ConstrainLayout.ConstraintLayoutLocationActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".basic.BasicMainActivity" />
        <activity android:name=".basic.widget.WidgetMainActivity" />
        <activity android:name=".basic.widget.ConstrainLayout.ConstraintLayoutMainActivity" /> <!-- 7.0文件 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- 元数据 -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <activity android:name=".module.broadcast.BroadcastMainActivity" />
        <activity android:name=".module.broadcast.send.BroadcastSendMainActivity" />
    </application>

</manifest>